<div class="col-sm-12 auction" style="text-align: center">
  <div class="panel panel-default ">
    <div class="panel-heading" style="color: white"><b>Enter Auction Details</b></div>
    <div class="panel-body">
      <form class="form-inline" style="text-align: center">
        <div class="form-group" style="text-align: right">
          <label for="text">Product Name:</label>&nbsp;&nbsp;&nbsp;
          <input type="text"  class="form-control" id="productname" #productname autocomplete="off" ><br><br>
          <input type="file" id="fileInput" style="margin-left: 38%;" (change)="onFileChanged($event)">
          <br><br><label for="text">Start Time:</label>&nbsp;&nbsp;&nbsp;
          <input type="datetime-local" class="form-control" id="starttime" #starttime autocomplete="off" ><br>
          <br><br><label for="text">End Time:</label>&nbsp;&nbsp;&nbsp;
          <input type="datetime-local" class="form-control" id="endtime" #endtime autocomplete="off" ><br>
          <br><br><label for="text">Base Price<small>(GRBT Tokens)</small>:</label>&nbsp;&nbsp;&nbsp;
          <input type="text"  class="form-control" id="baseprice" #baseprice autocomplete="off" ><br>
          <br><br><label for="text">Bid Increment<small>(GRBT Tokens)</small>:</label>&nbsp;&nbsp;&nbsp;
          <input type="text"  class="form-control" id="bidincrement" #bidincrement autocomplete="off" ><br>
          <br><br><label for="text">Min Bid<small>(GRBT Tokens)</small>:</label>&nbsp;&nbsp;&nbsp;
          <input type="text"  class="form-control" id="minimumbid" #minimumbid autocomplete="off" ><br>
          <br><br><label for="text">Reset Time<small>(in seconds)</small>:</label>&nbsp;&nbsp;&nbsp;
          <input type="text"  class="form-control" id="resettime" #resettime autocomplete="off" ><br>
          <br><button class="btn btn-warning fonttransformation " (click)="upload(productname.value,starttime.value,endtime.value,baseprice.value,bidincrement.value,minimumbid.value,resettime.value)" type="button">Create</button>

        </div>
      </form>

    </div>
  </div>
</div>
<div><ngx-spinner></ngx-spinner></div>