<div class="container-fluid"  style="height: 600px;overflow: auto;text-align: center;text-transform: uppercase" *ngIf="!this.grabit.imgshow">
    <div  *ngFor="let image of images" >
       <div class="col-sm-4"  style="margin-top: 20px;text-align: center;">
          <div class="row">
             <div class="col-sm-10"  style="margin-top:25px">
                <div>
                   <div class="card">
                      <div class="card-header">
                         <p>{{image.ProductName}}</p>
                      </div>
                      <hr>
                      <div class="card-body">
                            <h5 class="card-title">Base Price: {{ image.Amount }}</h5>
                         <div class="card-body" style="text-align: center">
                            <img   a (click)="this.grabit.imgshow=!this.grabit.imgshow;" class="card-img-top" src={{image.Url}} style="height: 250px;width: 250px" alt="Card image cap">
                         </div>
                         <div class="bid-credit-row">
                             <div class="row">
                                 <div class="col-sm-6"> 
                                        <span class="auction-id">Auction ID:{{image.Auction_Id}}</span>
                                 </div>
                                 <div class="col-sm-6">
                                        <span >{{image.Bidder_name}}</span>
                                 </div>
                             </div>
                            
                            <!-- <a class="bid-credit" title="Number of Require Credits Per BID">5x</a> -->
                         </div>
                         <div class="bid-credit-row2">
                            <span class="bid-price">Closed at
                            <label id="Price16720"> {{image.Last_Bidded_amount}} GRBT</label>
                            </span>
                            <!-- <div class="bid-status">
                               <div id="dvzoom16720" class="">
                                  <span id="timer16720" class="timer" data-transition="customZoomTrans2" style="color: rgb(61, 77, 101);">{{image.Time}}</span>
                               </div>
                               <span class="bidder-name">
                               <label id="UserName16720">{{image.Bidder_name}}</label>
                               <label id="dt16720" style="display: none;">2018,9,9,14,30,0,0</label>
                               </span>
                            </div> -->
                         </div>
                         <hr>
                         <div class="card-footer">
                                <button  class="btn btn-warning" id="btn" disabled>&nbsp;&nbsp;&nbsp;Closed</button>
                             </div>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-sm-2"></div>
          </div>
       </div>
    </div>
 </div>
 <div *ngIf="this.grabit.imgshow">
    <app-viewauction></app-viewauction>
 </div>