<div class="container">
    <div class="row" style="margin-top: 3%;">
       <div class="col-sm-6"> <img src="../../assets/images/chainflux.png" style="width:60%;height:10%;"></div>
       <div class="col-sm-6">
          <div class="row"  style="margin-top: 5%;">
             <div class="col-sm-3">
                <button class="btn btn-warning fonttransformation" type="button">You have {{credit_balance}} Credits
                </button>
             </div>
             <div class="col-sm-1"></div>
             <div class="col-sm-3">
                <button class="btn btn-warning fonttransformation " (click)="top_up_credits()" type="button">Top up credits</button>
             </div>
             <div class="col-sm-1"></div>
             <div class="col-sm-3">
                <div class="dropdown">
                   <button class="btn btn-warning fonttransformation dropdown-toggle" type="button" data-toggle="dropdown">My account
                   <span class="caret"></span></button>
                   <ul class="dropdown-menu">
                      <li><a (click) = "chooseTab(5)"><i class="fa fa-user" style="color: #db524c;"></i>&nbsp;&nbsp;My account</a></li>
                      <li><a (click) = "chooseTab(6)"><i class="fa fa-list" style="color: #db524c;"></i>&nbsp;&nbsp;bid details</a></li>
                      <li><a (click) = "chooseTab(7)"><i class="fa fa-trophy" style="color: #db524c;"></i>&nbsp;&nbsp;win history</a></li>
                      <li><a (click)="onLogout()" > <i class="fa fa-power-off" style="color: #db524c;"></i>&nbsp;&nbsp;logout</a></li>
                   </ul>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 <nav id="mainmenu" style="margin-top: 3%;" class="navbar navbar-default">
    <div class="container">
       <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
       </div>
       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
             <li (click)="chooseTab(1)"><a>Create Auction</a></li>
             <li (click)="chooseTab(2)"><a>Send Credits</a></li>
             <li (click)="chooseTab(3)"><a>Change Ownership</a></li>
             <li (click)="chooseTab(4)"><a>Finalize Auction</a></li>
             <li (click)="chooseTab(8)"><a>Select Auction</a></li>
          </ul>
       </div>
    </div>
 </nav>
 <div class="container" [ngSwitch]="tabSelected">
    <div *ngSwitchCase="1">
       <app-create-auction></app-create-auction>
    </div>
    <div *ngSwitchCase="2">
       <app-sendcredits></app-sendcredits>
    </div>
    <div *ngSwitchCase="3">
       <app-changeowner></app-changeowner>
    </div>
    <div *ngSwitchCase="4">
       <app-setresult></app-setresult>
    </div>
    <div *ngSwitchCase="5">
       <app-myaccount></app-myaccount>
    </div>
    <div *ngSwitchCase="6">
       <app-bidlog></app-bidlog>
    </div>
    <div *ngSwitchCase="7">
       <app-winhistory></app-winhistory>
    </div>
    <div *ngSwitchCase="8">
            <app-select></app-select>
         </div>
 </div>