<div class="container-fluid">
        <div class="container">
           <div class="row">
                <h1>{{this.grabit.prod_zoom['ProductName']}}</h1>
              <div class="col-sm-6 auction" >
                 <div class="container spacemargin" >
                    <img id="detimg" class="card-img-top" src="{{this.grabit.prod_zoom['Url']}}" style="height: 250px;width: 250px" alt="Card image cap">
                 </div>
              </div>
              <div class="col-sm-6 ">
                 <form class="form-inline">
                    <div class="timer form-group ">
                      <div  class="spacemargin">
                       <p *ngIf="btn_show">{{this.hour_shower|number:'2.0'}}:{{min_shower|number:'2.0'}}:{{sec_shower|number:'2.0'}}</p>
                       <p *ngIf="btn_show_closed">Closed</p>
                       <P>{{this.grabit.prod_zoom['Bidder_name']}}</P>
                       </div>
                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <div  class="bidbox form-group">
                      <div class="spacemargin">
                       <h4 *ngIf="!btn_show_upcoming">Last Bided Amount:{{this.grabit.prod_zoom['last_Bidded_amount']}}</h4> 
                       <button  *ngIf="btn_show && !btn_show_upcoming" (click)="manualBidding(this.grabit.prod_zoom['Auction_Id'])" class="btn btn-warning" id="btn">&nbsp;<i class="fas fa-sync-alt"></i>&nbsp;&nbsp;BID {{this.grabit.prod_zoom['buttonbid']}} GRBT</button>
                      </div>
                    </div>
                 </form>
                 <br><br>

                 <div style="border: 1px solid sandybrown">
                 <div class="btn-group auction" style="text-align:center;">
                    <button type="button" class="btn btn-warning btn-lg" id="acif" >Auction Information</button>
                    <button type="button" class="btn btn-warning btn-lg" id="bidhis">Bidding History</button>
                   </div>
                   <div>
                    <div class="col-sm-6 tabcontent" id="auction-information" style="display: block;border: 1px solid sandybrown">
                        <div class="auction-info">
                            <ul>
                               <li> <span class="subhead">Auction ID:</span>
                                  <span id="Body_lblAuctionID">{{this.grabit.prod_zoom['Auction_Id']}}</span>
                               </li>
                               <li><span class="subhead">BASE PRICE:</span>
                                  <span>
                                  <span id="Body_lblPrice">{{this.grabit.prod_zoom['Amount']}}</span>&nbsp;GRBT</span>
                               </li>
                               <li><span class="subhead"> Bid Reset Time:</span>
                                  <span>
                                  <span id="Body_lblBidReset">{{this.grabit.prod_zoom['resetTime']}}</span></span>
                               </li>
                               <li><span class="subhead">Bid Increment Type:</span>
                                  <span>
                                  <span id="Body_lblPerBidcredit">{{this.grabit.prod_zoom['bidIncrement']}}</span></span>
                               </li>
                            </ul>
                         </div> 
                    </div>
                    <div class="col-sm-6 tabcontent" id="auction-information" style="display: block;overflow: auto; height:160px;border: 1px solid sandybrown">
                      <table class="table">
                        <thead>
                          <th>Price</th>
                          <th>User</th>
                        </thead>
                        <tbody>
                          <tr *ngFor="let i of bidder_history" >                                                
                              <td>{{i.Price}}</td>
                              <td>{{i.Name}}</td> 
                          </tr>
                        </tbody>
                      </table>
                    </div>
                </div>
                 </div>


              </div>
           </div>
        </div>
     </div>